*{
	margin: 0;
	padding:0;
}
header {
	background: #7F56F5;
	text-align: center;
	margin: 0px;
	padding: 60px;
	}

header p{
	color: white;
}	
body{
	font-family: 'Poppins', sans-serif;
}
h1 {
	color: white;
    margin: 0px;
    margin-bottom: 20px;
}
h2{
	font-weight: 300;
}

p {
    margin: 0px;
    line-height: 20px;
    font-weight: 250;
}header {
	background: #7F56F5;
	text-align: center;
	margin: 0px;
	padding: 60px;
	}

h1 {
    margin: 0px;
    margin-bottom: 20px;
}

p {
    margin: 0px;
    line-height: 20px;
    font-weight: 250;
}
.container{
	width: 1100px;
	margin: auto;
	overflow: hidden;
	margin-top: 20px;
}
.box {
    width: 50%;
    padding: 48px 14px;
    box-sizing: border-box;
    float: left;
    margin: 39px 0px;
}
.container{
	width: 1100px;
	margin: auto;
	overflow: hidden;
	margin-top: 30px;
}
.box {
    width: 50%;
    padding: 48px 14px;
    box-sizing: border-box;
    float: left;
    margin: 39px 0px;
}
.link{
	text-decoration: none;
	background: #356abc;
	color: white;
	padding: 10px 18px;
	display: inline-block;
	margin-top: 25px;
}